modelscope_models/*
!modelscope_models/.gitkeep
__pycache__/
clone/
doc/*
!doc/.gitkeep
doc/images/
*.log
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
faiss_index/*
!faiss_index/.gitkeep
.env
.env.*
*.egg-info
.trae/
.vscode/
.idea/
*.bak
.DS_Store
Thumbs.db
